* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #1c1c1c;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 80%;
  width: 80vh;
  display: flex;
  flex-direction: column;
}

.top {
  height: 45%;
  width: 100%;
  background: linear-gradient(246.26deg, #ED4683 0%, #F48E14 100%);

}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}

h1, 
.inputNumDisplay {
  font-weight: 800;
  text-align: center;
}

h1 {
  font-size: 22px;
}

.inputNumDisplay {
  font-size: 97.57px;
  margin: 0;
}

.bottom {
  height: auto;
  width: 100%;
  background-color: #1F2937;
  padding: 15px;
}

#conversionResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

p.results {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: 400;
}
