* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #1c1c1c;
  color: white;
}

.content {
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
}

.top {
  height: 45%;
  width: 100%;
  background-color: palevioletred;
}

h1, 
.inputNumDisplay {
  font-weight: 800;
  text-align: center;
}

h1 {
  font-size: 22px;
}

.inputNumDisplay {
  font-size: 97.57px;
}

.bottom {
  height: auto;
  width: 100%;
  background-color: #1F2937;
}

#conversionResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}